@import "./base/reset";

@import "./utils/vars";
@import "./utils/body";
@import "./utils/hidden";

@import "./components/main/modal";
@import "./components/main/button";
@import "./components/main/portfolio";

@import "./layout/header/header";
@import "./layout/header/logo-header";
@import "./layout/header/site-nav";
@import "./layout/header/contacts";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/occupation";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/footer/footer";
@import "./layout/footer/footer-logo";
@import "./layout/footer/addres";
@import "./layout/footer/social";
@import "./layout/footer/footer-input";
