.team__list {
  display: flex;
}

.team__item {
  width: 270px;
  margin-right: 30px;
  background-color: $primary-white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(4n) {
    margin: 0px;
  }
  &:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}

/* Team */
.team__face {
  display: block;
  max-width: 100%;
}
.team__members {
  background: #f5f4fa;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.team__members_profile {
  padding: 30px 0;
}
.team__members_text {
  color: $secondary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 16px;
}
.team__members_title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  display: flex;

  margin-right: 10px;
  &:nth-child(4n) {
    margin: 0px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $color-icon;
  background-color: $primary-white-color;
  transition: fill 250ms $timing-function,
    background-color 250ms $timing-function;
  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
  }
}
.social__icon {
  width: 20px;
  height: 20px;
}
