.contacts__list {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: inline-flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $secondary-color;
  transition: color 250ms $timing-function;
  .contact__icon {
    margin-right: 10px;
    fill: $secondary-color;
    transition: fill 250ms $timing-function;
  }
  &:hover,
  &:focus {
    color: $accent-color;

    .contact__icon {
      fill: $accent-color;
    }
  }
}
