.subscription {
  margin-left: 93px;
}

.subscription__form {
  display: flex;
}

.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

.subscription__input {
  padding: 15px 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: $secondary-color-transparenсy;

  min-width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  &[type="email"]:focus {
    border: 1px solid $accent-color;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $secondary-color-transparenсy;
  }
}

.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  background-color: $accent-color;
  color: $primary-white-color;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 28px;
  margin-left: 12px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $button-hover;
    color: $primary-white-color;

    .subscription__icon {
      fill: $primary-white-color;
    }
  }
}

.subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $primary-white-color;
  transition: fill 250ms $timing-function;
}
