.menu__list_navigation {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu__item_navigation {
  &:not(:nth-last-child(-n + 1)) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &:not(:nth-last-child(-n + 1)) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;
  }
}
.menu__link_navigation {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and(min-width:768px) {
    padding-top: 32px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.menu__link_navigation--current {
  color: $accent-color;
  display: block;

  &::after {
    @media screen and(min-width:768px) {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  transition: color 250ms $timing-function;
}
